# Notebook to test out NAG Python Library
## Generate a random correlation matrix (g05py)

In [1]:
import numpy as np
import naginterfaces.library.rand as nirand

In [2]:
n=10
d = np.random.rand(n)
c = np.zeros((n,n))

In [3]:
#ensure the sum of d is the same as the number of elements
d = d*n/d.sum()
d.sum()

9.999999999999998

In [4]:
seed = [1]
statecomm = nirand.init_repeat(1,seed)

In [5]:
c = nirand.matrix_corr(d,statecomm)

In [6]:
print (np.matrix(c))

[[ 1.          0.207591   -0.07890218 -0.26929643  0.41202017  0.52639132
   0.189005    0.13613265  0.3377918  -0.0816536 ]
 [ 0.207591    1.          0.39257922 -0.30363797  0.37762158  0.26250461
  -0.56585376 -0.15415232 -0.08177215  0.40146258]
 [-0.07890218  0.39257922  1.         -0.07372218  0.51120994 -0.18682165
   0.25801503  0.22936485 -0.04654471 -0.02281496]
 [-0.26929643 -0.30363797 -0.07372218  1.         -0.34773416 -0.1723676
  -0.00989151 -0.02019203  0.53225462  0.38825717]
 [ 0.41202017  0.37762158  0.51120994 -0.34773416  1.         -0.28268728
   0.22732868 -0.23281304  0.10438523  0.02130985]
 [ 0.52639132  0.26250461 -0.18682165 -0.1723676  -0.28268728  1.
  -0.18709439  0.51095295  0.18084324  0.10282138]
 [ 0.189005   -0.56585376  0.25801503 -0.00989151  0.22732868 -0.18709439
   1.          0.36222811  0.117268   -0.52588846]
 [ 0.13613265 -0.15415232  0.22936485 -0.02019203 -0.23281304  0.51095295
   0.36222811  1.          0.25171035 -0.22060806]
 [ 0.3377918  -0.08177215 -0.04654471  0.53225462  0.10438523  0.18084324
   0.117268    0.25171035  1.          0.52064391]
 [-0.0816536   0.40146258 -0.02281496  0.38825717  0.02130985  0.10282138
  -0.52588846 -0.22060806  0.52064391  1.        ]]

## Try the same thing but with pandas dataframes

In [7]:
import numpy as np
import pandas as pd
from naginterfaces.library import rand as nag_rand

In [8]:
n=10
df = pd.DataFrame(np.random.rand(n))

In [9]:
df.head()

          0
0  0.019411
1  0.989430
2  0.843855
3  0.253671
4  0.295692

In [10]:
df = df*n/df.sum()

In [11]:
df.sum()

0    10.0
dtype: float64

In [12]:
df[0]

0    0.037325
1    1.902531
2    1.622612
3    0.487772
4    0.568574
5    0.894944
6    1.582100
7    1.137266
8    1.461123
9    0.305753
Name: 0, dtype: float64

In [13]:
seed_pd = [1]
statecomm_pd = nag_rand.init_repeat(1,seed_pd)

In [14]:
c_df = pd.DataFrame(np.random.rand(n,n))
c_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.719770,0.596598,0.224404,0.566252,0.354632,0.182132,0.130768,0.028532,0.770632,0.288296
1,0.269492,0.891444,0.266523,0.609272,0.930905,0.925597,0.362357,0.140921,0.654578,0.612432
2,0.654540,0.589410,0.639389,0.786181,0.815076,0.540150,0.870763,0.105665,0.601480,0.287626
3,0.135013,0.541416,0.832331,0.082530,0.086839,0.626443,0.013808,0.504595,0.296096,0.869288
4,0.714999,0.678578,0.433527,0.240467,0.112222,0.178781,0.127282,0.224747,0.891033,0.526295

In [15]:
c_df = nag_rand.matrix_corr(df[0],statecomm_pd)

In [16]:
c_df

array([[ 1.        ,  0.18301172, -0.15317952,  0.19893324,  0.04350192,
        -0.24596651, -0.0488623 ,  0.09299825,  0.49660632, -0.12477309],
       [ 0.18301172,  1.        , -0.04692823,  0.05067105,  0.00715816,
         0.02828615, -0.23755081, -0.07312535, -0.06803703, -0.3332699 ],
       [-0.15317952, -0.04692823,  1.        , -0.35535462, -0.14142508,
         0.22911306,  0.22909494,  0.08654129,  0.29011661, -0.21136848],
       [ 0.19893324,  0.05067105, -0.35535462,  1.        , -0.29773502,
        -0.12669122,  0.10381601,  0.20658451, -0.11294434, -0.09439861],
       [ 0.04350192,  0.00715816, -0.14142508, -0.29773502,  1.        ,
        -0.39103389, -0.12412674, -0.00611228, -0.15197795,  0.1814539 ],
       [-0.24596651,  0.02828615,  0.22911306, -0.12669122, -0.39103389,
         1.        , -0.22600438, -0.06341246, -0.46848439,  0.06274481],
       [-0.0488623 , -0.23755081,  0.22909494,  0.10381601, -0.12412674,
        -0.22600438,  1.        ,  0.11020332, -0.04031599, -0.04207796],
       [ 0.09299825, -0.07312535,  0.08654129,  0.20658451, -0.00611228,
        -0.06341246,  0.11020332,  1.        ,  0.09246914,  0.32751439],
       [ 0.49660632, -0.06803703,  0.29011661, -0.11294434, -0.15197795,
        -0.46848439, -0.04031599,  0.09246914,  1.        , -0.05914849],
       [-0.12477309, -0.3332699 , -0.21136848, -0.09439861,  0.1814539 ,
         0.06274481, -0.04207796,  0.32751439, -0.05914849,  1.        ]])

In [17]:
gdf = pd.DataFrame(c_df)

In [18]:
gdf.head()

,0,1,2,3,4,5,6,7,8,9
0,1.000000,0.183012,-0.153180,0.198933,0.043502,-0.245967,-0.048862,0.092998,0.496606,-0.124773
1,0.183012,1.000000,-0.046928,0.050671,0.007158,0.028286,-0.237551,-0.073125,-0.068037,-0.333270
2,-0.153180,-0.046928,1.000000,-0.355355,-0.141425,0.229113,0.229095,0.086541,0.290117,-0.211368
3,0.198933,0.050671,-0.355355,1.000000,-0.297735,-0.126691,0.103816,0.206585,-0.112944,-0.094399
4,0.043502,0.007158,-0.141425,-0.297735,1.000000,-0.391034,-0.124127,-0.006112,-0.151978,0.181454